body{
    /* background:url('../assets/bublesbg.png');
    background-size:contain;   */
    font-family:'Josefin Sans';
    font-weight: lighter;
}


header{
    padding:10px 100px;
    box-sizing:border-box;
    background:#fff;
    height:100px;


}

nav{
    width:100%;
    height:50px;
    background:#fff;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position:sticky; 
    top:0;
    z-index: 5;

}


nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float:right;
}

nav ul li {
    list-style:none;
}

nav ul li a{
    display:block;
    color:rgba(0,0,0, .8);
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    opacity: 1;
    transition: 0.8s;
}

a:hover {
    color: #0060B6;
    text-decoration: none;
}

/* nav ul li a.active, */
nav ul li a:hover
{
color:rgba(104,104,104, .6);
}

.topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav ul li a{
        display: none;
    }
    .topnav ul li a.icon {
      /* float: right; */
      display: block;
      font-size:25px;
      right:0;
      position: absolute;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .responsive  {
        position: relative;
        height:350px;
    }
    .responsive ul li a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .responsive ul{
        display:block;
        float:none;
        margin-left:75px;
        margin-top:50px;
    }
    .responsive ul li a {
      /* float: none; */
      display: block;
      padding:2px;
      /* text-align: left; */
    }
  }


.photo-section{
    height:700px;
    background:linear-gradient(rgba(15, 1, 1, 0.6), rgba(10, 0, 0, 0.6)),url('../assets/purple_leaves.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

#photo-section-container{
    height:100%;
}

#photo-section-row{
    height:100%;
    width:100%;
}

#photo-section-col{
}

#photo-section-col h3{
    color:white;
}




.photo-section-text{
    font-family:'Josefin Sans';
    font-weight: lighter;
    color:white;
    vertical-align: middle;
}

#intro-section{
    /* height:600px; */
    /* margin-bottom:100px; */
    background:url('../assets/bublesbg4.png');
    background-size:contain;


}
#intro-section-row{
    padding-top:200px;
    padding-bottom:200px;

}

#intro-section-col1{
    background:url('../assets/magnets.png');
    background-size:contain;
    background-repeat:no-repeat;
    min-height:400px;
    width:100%;
    /* margin-bottom:60px; */
    margin-right:-25px;
    margin-bottom:50px;

    
}

#intro-section-col2{
   
    font-family:'Josefin Sans';
    font-weight: lighter;
    border-left:1px solid black;
    padding-left:50px;
    
}

#treatments-section{
    min-height:650px;
    background:url('../assets/treatmentsbg2.png');
    background-size:cover;
    padding-top:50px;
    padding-left:50px;
    color:white;
}

#treatments-section-text{
    border-bottom:2px solid white;
    border-right:2px solid white;
    margin-top:40px;
}

#treatments-section-col1{
    border-top:1px solid white;
     padding:40px;
}
#treatments-section-col2{
    /* border-bottom:1px solid white; */
     padding:40px;
}
#treatments-section-col3{
    /* border-top:1px solid white; */
     padding:40px;
}

#treatments-section-row{
    /* background:url('../assets/treatmentsbg2.png');
    background-size:cover; */
}

.deseases-text{
    font-size:20px;
    margin:0px;
    padding:5px;
}

#blog-section{
    /* height:800px; */
    background-color:lig;
}

#blog-section-col1{
    background:url('../assets/blog2.png');
    background-size:contain;
    background-repeat: no-repeat;
    top:-150px;

    height:500px;
    

}

/* 378896ff  b712bfff */

#blog-section{
    margin-top:150px;
}

#blog-section-photo{
    position:absolute;
}

#butterfly-photo{
    background:url('../assets/butterfly.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:300px;
    margin-bottom:40px;
}

#connection-photo{
    background:url('../assets/connection.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:300px;
    /* display:inline */
}
#connection-photo-text{
    display:inline;
    /* width:35%;
    float:left; */
}

#cels-photo{
    background:url('../assets/cels.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:400px;
}

#booking-section{
    margin-top:150px;
    height:700px;
    background:linear-gradient(rgba(15, 1, 1, 0.6), rgba(10, 0, 0, 0.6)),url('../assets/booking.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    
}


#booking-section-container{
    height:100%;
    background:rgba(13, 87, 92, 0.493)
}

#booking-section-row{
height:100%;    
}

#booking-section-jumbotron{
    background:transparent;
    color:white;

}

#footer-section{
    background: rgba(143, 14, 132, 0.1);

    background-size:cover;
    background-repeat: no-repeat;
    height:300px;
    position:relative;
}

#footer{
    background:rgba(46, 2, 53, 0.849);
    height: 50px;
    width:100%;
   bottom:0;
   left:0;
   z-index: 100;
   position:absolute;
}

#copyright-text{
    color:white;
}

.block{
    display:block;
    color:white;
    padding:0px;
    margin:0px;
    bottom:0;
}

/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgba(13, 87, 92, 0.493) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
} */